<div id="<%= dom_id todo_task %>">
  <p>
    <strong>Description:</strong>
    <%= todo_task.description %>
  </p>

  <p>
    <strong>Reminder:</strong>
    <%= todo_task.reminder %>
  </p>

  <p>
    <strong>Dueby:</strong>
    <%= todo_task.dueby %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo_task.completed %>
  </p>

</div>
