<p style="color: green"><%= notice %></p>

<h1>Todo tasks</h1>

<div id="todo_tasks">
  <% @todo_tasks.each do |todo_task| %>
    <% if todo_task.isCurrent %>
    <%= render todo_task %>
    <p>
      <%= link_to "Show this todo task", todo_task %>
    </p>
    <% end %>
  <% end %>
</div>

<br>
<br>
<%= link_to "New todo task", new_todo_task_path %>
<p>
<%= link_to 'Return to Home', home_path, method: :get %>
</p>