<p style="color: green"><%= notice %></p>

<%= render @todo_task %>

<div>
  <%= link_to "Edit this todo task", edit_todo_task_path(@todo_task) %> |
  <%= link_to "Back to todo tasks", todo_tasks_path %>

  <%= button_to "Destroy this todo task", @todo_task, method: :delete %>
</div>
