<% if @todo_task.isCurrent %>
<%= render @todo_task %>

<br>

<div>
  <%= link_to "Edit this todo task", edit_todo_task_path(@todo_task) %> 
  <br>
  <%= link_to "Back to todo tasks", todo_tasks_path %> 
  <br>
  <br>
  <%= button_to "Destroy this todo task", @todo_task, method: :delete %>
  <p>
  <%= link_to 'Return to Home', home_path, method: :get %>
  </p>
</div>
<% end %>