<h1 id="heading">Sign In</h1>
<div id="form-centering">
  <%= form_with url: sign_in_path do |f| %>
    <p>
    <%= f.label 'email:'%><br>
    <%= f.text_field :email, id: 'email' %>
    </p>
    <p>
    <%= f.label 'password:'%><br>
    <%= f.password_field :password, id: 'password' %>
    </p>
    <div id="button-container">
    <p>
    <%= f.submit 'Log In', class: "button" %>
    </p>
    </div>
  <% end %>
  </div>
  <div id="button-container">
    <%= button_to 'Return to Home', home_path, method: :get, class: "button" %>
  </div>